Revision of all pandas concept learned

In [1]:
import pandas as pd

In [4]:
# Create your own data frame
students = {
    'id' : [1,2,3,4,5,6],
    'first' : ['Rabin', 'Sabin', 'Prabin', 'Harbin', 'Damin', 'Ramin'],
    'last' : ['Karki', 'Sarki', 'Tharki', 'Darki', 'Narki', 'Parki'],
    'email': ['rabinkarki11@gmail.com', 'sabinsarki234@gmail.com', 'tharkiprabin345@gmail.com', 
                'darkiharbin456@gmail.com', 'narkidamin789@gmail.com', 'raminparki348@gmail.com'],
    'GPA' : [3.44, 3.89, 2.90, 4.00, 3.19, 4.00]
}
df = pd.DataFrame(students)
df

   id   first    last                      email   GPA
0   1   Rabin   Karki     rabinkarki11@gmail.com  3.44
1   2   Sabin   Sarki    sabinsarki234@gmail.com  3.89
2   3  Prabin  Tharki  tharkiprabin345@gmail.com  2.90
3   4  Harbin   Darki   darkiharbin456@gmail.com  4.00
4   5   Damin   Narki    narkidamin789@gmail.com  3.19
5   6   Ramin   Parki    raminparki348@gmail.com  4.00