Stage 3

In [2]:
# Stage 3 will be more on Data Structures.
# List functions
import numpy as np

mixed_list = [
    12, 3.14, 'hello', True, None, [1, 2], {'a': 1}, (5, 6), 99, 'world',
    False, 0, 100, 'Python', 8.8, 'GPT', {1, 2, 3}, 42, 'looping', -7,
    True, False, None, np.nan, "----", (34,4,2,2), [3,4]
]

In [3]:
mixed_list.append("The append")
mixed_list

[12,
 3.14,
 'hello',
 True,
 None,
 [1, 2],
 {'a': 1},
 (5, 6),
 99,
 'world',
 False,
 0,
 100,
 'Python',
 8.8,
 'GPT',
 {1, 2, 3},
 42,
 'looping',
 -7,
 True,
 False,
 None,
 nan,
 '----',
 (34, 4, 2, 2),
 [3, 4],
 'The append']

In [4]:
mixed_list[-4]

'----'

In [5]:
mixed_list[0]

12

In [6]:
mixed_list[0:2]

[12, 3.14]

In [7]:
mixed_list[::-1] # reverse a list

['The append',
 [3, 4],
 (34, 4, 2, 2),
 '----',
 nan,
 None,
 False,
 True,
 -7,
 'looping',
 42,
 {1, 2, 3},
 'GPT',
 8.8,
 'Python',
 100,
 0,
 False,
 'world',
 99,
 (5, 6),
 {'a': 1},
 [1, 2],
 None,
 True,
 'hello',
 3.14,
 12]

In [8]:
mixed_list[::2]

[12,
 'hello',
 None,
 {'a': 1},
 99,
 False,
 100,
 8.8,
 {1, 2, 3},
 'looping',
 True,
 None,
 '----',
 [3, 4]]

In [9]:
# Method	Description
# append()	Adds an item to the end of the list
# extend()	Adds items of lists and other iterables to the end of the list
# insert()	Inserts an item at the specified index
# remove()	Removes the specified value from the list
# pop()	Returns and removes item present at the given index
# clear()	Removes all items from the list
# index()	Returns the index of the first matched item
# count()	Returns the count of the specified item in the list
# sort()	Sorts the list in ascending/descending order
# reverse()	Reverses the item of the list
# copy()	Returns the shallow copy of the list

In [10]:
name = "Python"
mylist = [1,2,3,4,4,5,2,4,'a', 'e','i','o','u']
mylist.extend(name)
print(mylist)

[1, 2, 3, 4, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n']

In [11]:
l2 = [77, 7, 17]
mylist.extend(l2)
print(mylist)

[1, 2, 3, 4, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [12]:
mylist.insert(2, 'index2')
print(mylist)

[1, 2, 'index2', 3, 4, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [13]:
mylist.remove(4)
print(mylist)

[1, 2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [14]:
mylist.pop(0)
print(mylist)

[2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [15]:
mylist.index(3)

2

In [16]:
mylist.count('o')

2

In [17]:
mylist.reverse()
print(mylist)

[17, 7, 77, 'n', 'o', 'h', 't', 'y', 'P', 'u', 'o', 'i', 'e', 'a', 4, 2, 5, 4, 3, 'index2', 2]

In [18]:
mylist.reverse()
newlist = mylist.copy()
print(newlist)

[2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [19]:
mylist.clear()
mylist

[]

In [20]:
print(newlist)

[2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [ ]:
# Tuples : immutable sequence

# tuples can have different data types 
numbers = (1,2,3)
numbers

(1, 2, 3)

In [22]:
tuple_constructor = tuple(('Nepal', 'China', 'India'))
tuple_constructor

('Nepal', 'China', 'India')

In [24]:
# Characteristics 
# Ordered - they maintain the order of elements
# Immutable - they cannot be changed after creation
# Allow duplicates - they can contain duplicate values
tpnames = ('Python', 'C++', 1, 3, 4.5, [4,5], set((1,2,3,4,2,1)), {'key':'values'})
tpnames

('Python', 'C++', 1, 3, 4.5, [4, 5], {1, 2, 3, 4}, {'key': 'values'})

In [25]:
# Accessing the tuple elements
tpnames[-1]

{'key': 'values'}

In [26]:
tpnames[2]

1

In [27]:
for tp in tpnames:
    print(tp)

Python
C++
1
3
4.5
[4, 5]
{1, 2, 3, 4}
{'key': 'values'}

In [ ]:
# Important
var = ('Hello')
type(var) # This is a string

str

In [ ]:
var = ('Hello', )
type(var) # This is a tuple

tuple

In [30]:
# Methods
tpnames.count(1)

1

In [31]:
tpnames.index([4,5])

5