Stage 3

In [1]:
# Stage 3 will be more on Data Structures.
# List functions
import numpy as np

mixed_list = [
    12, 3.14, 'hello', True, None, [1, 2], {'a': 1}, (5, 6), 99, 'world',
    False, 0, 100, 'Python', 8.8, 'GPT', {1, 2, 3}, 42, 'looping', -7,
    True, False, None, np.nan, "----", (34,4,2,2), [3,4]
]

In [2]:
mixed_list.append("The append")
mixed_list

[12,
 3.14,
 'hello',
 True,
 None,
 [1, 2],
 {'a': 1},
 (5, 6),
 99,
 'world',
 False,
 0,
 100,
 'Python',
 8.8,
 'GPT',
 {1, 2, 3},
 42,
 'looping',
 -7,
 True,
 False,
 None,
 nan,
 '----',
 (34, 4, 2, 2),
 [3, 4],
 'The append']

In [3]:
mixed_list[-4]

'----'

In [4]:
mixed_list[0]

12

In [5]:
mixed_list[0:2]

[12, 3.14]

In [6]:
mixed_list[::-1] # reverse a list

['The append',
 [3, 4],
 (34, 4, 2, 2),
 '----',
 nan,
 None,
 False,
 True,
 -7,
 'looping',
 42,
 {1, 2, 3},
 'GPT',
 8.8,
 'Python',
 100,
 0,
 False,
 'world',
 99,
 (5, 6),
 {'a': 1},
 [1, 2],
 None,
 True,
 'hello',
 3.14,
 12]

In [7]:
mixed_list[::2]

[12,
 'hello',
 None,
 {'a': 1},
 99,
 False,
 100,
 8.8,
 {1, 2, 3},
 'looping',
 True,
 None,
 '----',
 [3, 4]]

In [8]:
# Method	Description
# append()	Adds an item to the end of the list
# extend()	Adds items of lists and other iterables to the end of the list
# insert()	Inserts an item at the specified index
# remove()	Removes the specified value from the list
# pop()	Returns and removes item present at the given index
# clear()	Removes all items from the list
# index()	Returns the index of the first matched item
# count()	Returns the count of the specified item in the list
# sort()	Sorts the list in ascending/descending order
# reverse()	Reverses the item of the list
# copy()	Returns the shallow copy of the list

In [9]:
name = "Python"
mylist = [1,2,3,4,4,5,2,4,'a', 'e','i','o','u']
mylist.extend(name)
print(mylist)

[1, 2, 3, 4, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n']

In [10]:
l2 = [77, 7, 17]
mylist.extend(l2)
print(mylist)

[1, 2, 3, 4, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [11]:
mylist.insert(2, 'index2')
print(mylist)

[1, 2, 'index2', 3, 4, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [12]:
mylist.remove(4)
print(mylist)

[1, 2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [13]:
mylist.pop(0)
print(mylist)

[2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [14]:
mylist.index(3)

2

In [15]:
mylist.count('o')

2

In [16]:
mylist.reverse()
print(mylist)

[17, 7, 77, 'n', 'o', 'h', 't', 'y', 'P', 'u', 'o', 'i', 'e', 'a', 4, 2, 5, 4, 3, 'index2', 2]

In [17]:
mylist.reverse()
newlist = mylist.copy()
print(newlist)

[2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [18]:
mylist.clear()
mylist

[]

In [19]:
print(newlist)

[2, 'index2', 3, 4, 5, 2, 4, 'a', 'e', 'i', 'o', 'u', 'P', 'y', 't', 'h', 'o', 'n', 77, 7, 17]

In [20]:
# Tuples : immutable sequence

# tuples can have different data types 
numbers = (1,2,3)
numbers

(1, 2, 3)

In [21]:
tuple_constructor = tuple(('Nepal', 'China', 'India'))
tuple_constructor

('Nepal', 'China', 'India')

In [22]:
# Characteristics 
# Ordered - they maintain the order of elements
# Immutable - they cannot be changed after creation
# Allow duplicates - they can contain duplicate values
tpnames = ('Python', 'C++', 1, 3, 4.5, [4,5], set((1,2,3,4,2,1)), {'key':'values'})
tpnames

('Python', 'C++', 1, 3, 4.5, [4, 5], {1, 2, 3, 4}, {'key': 'values'})

In [23]:
# Accessing the tuple elements
tpnames[-1]

{'key': 'values'}

In [24]:
tpnames[2]

1

In [25]:
for tp in tpnames:
    print(tp)

Python
C++
1
3
4.5
[4, 5]
{1, 2, 3, 4}
{'key': 'values'}

In [26]:
# Important
var = ('Hello')
type(var) # This is a string

str

In [27]:
var = ('Hello', )
type(var) # This is a tuple

tuple

In [28]:
# Methods
tpnames.count(1)

1

In [29]:
tpnames.index([4,5])

5

In [31]:
# Today will be about sets
A = set((2,3,5,7,11,13,17,19))
B = set((2,4,6,13,11,9))

print(A)
print(B)

{2, 3, 5, 7, 11, 13, 17, 19}
{2, 4, 6, 9, 11, 13}

In [32]:
A.union(B)

{2, 3, 4, 5, 6, 7, 9, 11, 13, 17, 19}

In [33]:
A.intersection(B)

{2, 11, 13}

In [34]:
A.difference(B)

{3, 5, 7, 17, 19}

In [35]:
A.symmetric_difference(B)

{3, 4, 5, 6, 7, 9, 17, 19}

In [37]:
A.add(23) # Add a new element
A

{2, 3, 5, 7, 11, 13, 17, 19, 23}

In [ ]:
# Dictionaries
std_profile = {
    'name': 'Rabin',
    'age': 23,
    'country': 'Nepal',
    'language': 'Python',
    'score': 95,
    'height_cm': 172,
    'weight_kg': 68,
    'gender': 'Male',
    'is_student': True,
    'courses': ['Math', 'Science', 'English'],
    'grades': {'Math': 'A', 'Science': 'B+', 'English': 'A-'},
    'email': 'rabin@example.com',
    'phone': '9800000000',
    'hobbies': ['reading', 'cycling', 'coding'],
    'skills': ['Python', 'C++', 'SQL'],
    'dob': '2001-07-15',
    'blood_group': 'O+',
    'address': 'Kathmandu',
    'university': 'TU',
    'graduated': False
}
# the key of dictionary must be immutable
# immutable objects in python are : integer, tuple, and string
# However, the dictionary values can be any data type, including mutable

In [2]:
for key, value in std_profile.items():
    print(f'{key} : {value}')

name : Rabin
age : 23
country : Nepal
language : Python
score : 95
height_cm : 172
weight_kg : 68
gender : Male
is_student : True
courses : ['Math', 'Science', 'English']
grades : {'Math': 'A', 'Science': 'B+', 'English': 'A-'}
email : rabin@example.com
phone : 9800000000
hobbies : ['reading', 'cycling', 'coding']
skills : ['Python', 'C++', 'SQL']
dob : 2001-07-15
blood_group : O+
address : Kathmandu
university : TU
graduated : False

In [3]:
std_profile.get('age') # pass the key to get value
std_profile.get('courses')

['Math', 'Science', 'English']

In [4]:
std_profile.items()

dict_items([('name', 'Rabin'), ('age', 23), ('country', 'Nepal'), ('language', 'Python'), ('score', 95), ('height_cm', 172), ('weight_kg', 68), ('gender', 'Male'), ('is_student', True), ('courses', ['Math', 'Science', 'English']), ('grades', {'Math': 'A', 'Science': 'B+', 'English': 'A-'}), ('email', 'rabin@example.com'), ('phone', '9800000000'), ('hobbies', ['reading', 'cycling', 'coding']), ('skills', ['Python', 'C++', 'SQL']), ('dob', '2001-07-15'), ('blood_group', 'O+'), ('address', 'Kathmandu'), ('university', 'TU'), ('graduated', False)])

In [7]:
# immutable keys
my_dict = {(1,2) : "one two", (3,4):"three four"}
my_dict

{(1, 2): 'one two', (3, 4): 'three four'}

In [8]:
num_dict = {1 : "one", 2 : "two", 3 : "three"}
num_dict

{1: 'one', 2: 'two', 3: 'three'}