Grouping and Aggregating - Analyzing and Exploring Your Data

In [2]:
import pandas as pd

In [3]:
region = pd.read_csv('Data/administrative-divisions/Region.csv', index_col='region_id')
district = pd.read_csv('Data/administrative-divisions/Districts.csv', index_col='district_id', dtype={'district_id':'Int64', 'old_region' : 'Int64', 'new_region':'Int64'})
local_types = pd.read_csv('Data/administrative-divisions/LocalBodyTypes.csv', index_col='local_body_type_id')
local_bodies = pd.read_csv('Data/administrative-divisions/localBodies.csv', index_col='local_body_id')

In [4]:
filter1 = (region['Region'] == 'Bagmati')    &  (region['old_new'] == 1)
filter1_index = region.loc[filter1].index
filter1_index

Int64Index([1103], dtype='int64', name='region_id')

In [5]:
bag_dis_filter = district['new_region'] == filter1_index[0]
bagmati_districts = district.loc[bag_dis_filter, ['District']]
bagmati_districts.sort_values(by='District', ascending=False)

                   District
district_id
100108        Sindhupalchok
100206             Sindhuli
100107               Rasuwa
100204            Ramechhap
100106              Nuwakot
100303            Makwanpur
100105             Lalitpur
100104       Kavrepalanchok
100103            Kathmandu
100202              Dolakha
100102              Dhading
100302              Chitwan
100101            Bhaktapur

In [6]:
# Let's find all the local bodies of Kavrepalanchok
kavrefilter = (bagmati_districts['District'] == 'Kavrepalanchok')
kavre_index = bagmati_districts.loc[kavrefilter].index
kavre_index

Index([100104], dtype='object', name='district_id')

In [7]:
kavre_local_filter = (local_bodies['district_id'] == kavre_index[0])
kavre_local = local_bodies.loc[kavre_local_filter, ['local_body', 'local_body_type_id', 'max_ward']]
kavre_local

               local_body  local_body_type_id  max_ward
local_body_id
1001045001         Banepa                 105       NaN
1001045002      Dhulikhel                 105       NaN
1001045003        Panauti                 105       NaN
1001047001         Anekot                 107       9.0
1001047002       Balthali                 107       9.0
...                   ...                 ...       ...
1101045161     Namobuddha                 105      11.0
1101045162        Panauti                 105      12.0
1101045163      Panchkhal                 105      13.0
1101049466          Roshi                 119      12.0
1101049462          Temal                 119       9.0

[102 rows x 3 columns]

In [8]:
# Working with example dataframe
people = {
    "first" : ["Anish", "Ramish", "Samish", "Bamish", "Bamish"],
    "last" : ["Khadka", "Mainali", "Shrestha", "Karki", "Mainali"],
    "email" : ["anishramish56@gmail.com", "mainaliramish89@gmail.com", 
               "shresthasamish28@gmail.com", "bamishkarki819@gmail.com",
               "bamishmainali78@gmail.com"]
}
mydf = pd.DataFrame(people)
mydf

    first      last                       email
0   Anish    Khadka     anishramish56@gmail.com
1  Ramish   Mainali   mainaliramish89@gmail.com
2  Samish  Shrestha  shresthasamish28@gmail.com
3  Bamish     Karki    bamishkarki819@gmail.com
4  Bamish   Mainali   bamishmainali78@gmail.com

In [9]:
# Aggregation : multiple pieces of data into a single result
# df['column_name'].median()
# df.median() # For entire data frame where there is numerical value
# df.describe()

In [10]:
# Reading real data
df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_schema.csv', index_col='qname')

In [11]:
df.describe()

,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

In [12]:
df['ConvertedCompYearly'].median() # median salary

65000.0

In [13]:
df['ConvertedCompYearly'].count()

23435

In [ ]:
# The cycle goes on
# Never improving myself with this attitude.

In [ ]:
# Let's get the life going
import pandas as pd

# 1. Read CSV File
def read_csv_example():
    df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_public.csv')
    print("First 5 rows:")
    print(df.head())

# 2. Display First N Rows
def head_example(df):
    print("First 10 rows:")
    print(df.head(10))

# 3. Get DataFrame Info
def info_example(df):
    print("DataFrame Info:")
    df.info()

# 4. Summary Statistics
def describe_example(df):
    print("Summary Statistics:")
    print(df.describe())

# 5. Check for Missing Values
def check_missing_values(df):
    print("Missing Values Count:")
    print(df.isnull().sum())

# 6. Fill Missing Values
def fill_missing_values(df):
    df['column_name'] = df['column_name'].fillna(0)  # Replace NaN with 0
    print("Filled Missing Values:")
    print(df.head())

# 7. Group Data by Column
def group_by_example(df):
    grouped = df.groupby('category').sum()
    print("Grouped Data:")
    print(grouped)

# 8. Sort Data by Column
def sort_values_example(df):
    sorted_df = df.sort_values(by='column_name', ascending=True)
    print("Sorted Data:")
    print(sorted_df.head())

# 9. Apply Function to Column
def apply_example(df):
    df['new_col'] = df['col'].apply(lambda x: x * 2)
    print("After Applying Function:")
    print(df.head())

# 10. Merge Two DataFrames
def merge_example(df1, df2):
    merged = pd.merge(df1, df2, on='common_column', how='inner')
    print("Merged DataFrame:")
    print(merged.head())


# Learning next important pands functions for the day

# 11. Concatenate DataFrames
def concat_example(df1, df2):
    combined = pd.concat([df1, df2], axis=0)
    print("Concatenated DataFrame:")
    print(combined.head())

# 12. Create Pivot Table
def pivot_table_example(df):
    pivot = pd.pivot_table(df, values='value_col', index='index_col', columns='category_col', aggfunc='sum')
    print("Pivot Table:")
    print(pivot)

# 13. Check for Duplicates
def check_duplicates(df):
    print("Duplicate Rows:")
    print(df[df.duplicated()])

# 14. Drop Duplicates
def drop_duplicates_example(df):
    df = df.drop_duplicates()
    print("Data After Dropping Duplicates:")
    print(df.head())

# 15. Rename Columns
def rename_columns_example(df):
    df = df.rename(columns={'old_name': 'new_name'})
    print("Renamed Columns:")
    print(df.head())

# 16. Random Sampling
def sample_example(df):
    sample = df.sample(n=5)
    print("Random Sample of Rows:")
    print(sample)

# 17. Value Counts
def value_counts_example(df):
    print("Value Counts:")
    print(df['column_name'].value_counts())

# 18. Melt DataFrame
def melt_example(df):
    melted = pd.melt(df, id_vars=['id'], value_vars=['col1', 'col2'])
    print("Melted DataFrame:")
    print(melted.head())

# 19. Correlation Matrix
def correlation_example(df):
    correlation = df.corr()
    print("Correlation Matrix:")
    print(correlation)

# 20. Export to CSV
def to_csv_example(df):
    df.to_csv('output.csv', index=False)
    print("DataFrame exported to 'output.csv'")

# Example Usage:
if __name__ == "__main__":
    # Example to demonstrate functions (requires valid CSV and columns)
    try:
        df = pd.read_csv('/mnt/data/survey_results_public.csv')
        read_csv_example()
        head_example(df)
        info_example(df)
        describe_example(df)
        check_missing_values(df)
        # Uncomment below lines after ensuring the column names exist in your data
        # fill_missing_values(df)
        # group_by_example(df)
        # sort_values_example(df)
        # apply_example(df)
        # Example merge (requires second DataFrame df2)
        # merge_example(df, df2)
        # Additional examples
        # concat_example(df, df2)
        # pivot_table_example(df)
        # check_duplicates(df)
        # drop_duplicates_example(df)
        # rename_columns_example(df)
        # sample_example(df)
        # value_counts_example(df)
        # melt_example(df)
        # correlation_example(df)
        # to_csv_example(df)
    except FileNotFoundError:
        print("Please provide a valid 'data.csv' file in the working directory.")