Cleaning Data - Casting Datatypes and Handling Missing Values

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Working with example dataframe
people = {
    "first" : ["Anish", "Ramish", "Samish", "Bamish", "Bamish", np.nan, None, 'NA'],
    "last" : ["Khadka", "Mainali", "Shrestha", "Karki", "Mainali", np.nan, np.nan, 'Missing'],
    "email" : ["anishramish56@gmail.com", "mainaliramish89@gmail.com", 
               "shresthasamish28@gmail.com", "bamishkarki819@gmail.com",
               "bamishmainali78@gmail.com", None, np.nan, 'Missing'],
    "age": ['23', '24', '22', '26', '27', None, None, 'Missing']

}
mydf = pd.DataFrame(people)
mydf

    first      last                       email      age
0   Anish    Khadka     anishramish56@gmail.com       23
1  Ramish   Mainali   mainaliramish89@gmail.com       24
2  Samish  Shrestha  shresthasamish28@gmail.com       22
3  Bamish     Karki    bamishkarki819@gmail.com       26
4  Bamish   Mainali   bamishmainali78@gmail.com       27
5     NaN       NaN                        None     None
6    None       NaN                         NaN     None
7      NA   Missing                     Missing  Missing