In [2]:
# Lesson on data filtering
import pandas as pd

In [6]:
people = {
    "first" : ["Anish", "Ramish", "Samish", "Bamish", "Bamish"],
    "last" : ["Khadka", "Mainali", "Shrestha", "Karki", "Mainali"],
    "email" : ["anishramish56@gmail.com", "mainaliramish89@gmail.com", 
               "shresthasamish28@gmail.com", "bamishkarki819@gmail.com",
               "bamishmainali78@gmail.com"]
}
mydf = pd.DataFrame(people)
mydf

    first      last                       email
0   Anish    Khadka     anishramish56@gmail.com
1  Ramish   Mainali   mainaliramish89@gmail.com
2  Samish  Shrestha  shresthasamish28@gmail.com
3  Bamish     Karki    bamishkarki819@gmail.com
4  Bamish   Mainali   bamishmainali78@gmail.com

In [7]:
mydf['last'] == 'Mainali' # series with bool values, it corresponds with DF
# think of it as filter mask

0    False
1     True
2    False
3    False
4     True
Name: last, dtype: bool

In [8]:
filt = (mydf['last'] == 'Mainali')
mydf[filt]

    first     last                      email
1  Ramish  Mainali  mainaliramish89@gmail.com
4  Bamish  Mainali  bamishmainali78@gmail.com

In [9]:
mydf[mydf['last'] == 'Mainali'] # Same result

    first     last                      email
1  Ramish  Mainali  mainaliramish89@gmail.com
4  Bamish  Mainali  bamishmainali78@gmail.com

In [10]:
mydf.loc[filt]

    first     last                      email
1  Ramish  Mainali  mainaliramish89@gmail.com
4  Bamish  Mainali  bamishmainali78@gmail.com

In [12]:
mydf.loc[filt, 'email']

1    mainaliramish89@gmail.com
4    bamishmainali78@gmail.com
Name: email, dtype: object

In [3]:
# Filtering on real data 
df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_schema.csv', index_col='qname')