In [13]:
import pandas as pd

In [14]:
people = {
    "first" : ["Anish", "Ramish", "Samish", "Bamish"],
    "last" : ["Khadka", "Mainali", "Shrestha", "Karki"],
    "email" : ["anishramish56@gmail.com", "mainaliramish89@gmail.com", "shresthasamish28@gmail.com", "bamishkarki819@gmail.com"]
}

In [15]:
mydf = pd.DataFrame(people)
mydf

    first      last                       email
0   Anish    Khadka     anishramish56@gmail.com
1  Ramish   Mainali   mainaliramish89@gmail.com
2  Samish  Shrestha  shresthasamish28@gmail.com
3  Bamish     Karki    bamishkarki819@gmail.com

In [16]:
mydf['first']

0     Anish
1    Ramish
2    Samish
3    Bamish
Name: first, dtype: object

In [17]:
mydf.iloc[0:2]

    first     last                      email
0   Anish   Khadka    anishramish56@gmail.com
1  Ramish  Mainali  mainaliramish89@gmail.com

# Day 3 - All About Indexes

In [18]:
mydf

    first      last                       email
0   Anish    Khadka     anishramish56@gmail.com
1  Ramish   Mainali   mainaliramish89@gmail.com
2  Samish  Shrestha  shresthasamish28@gmail.com
3  Bamish     Karki    bamishkarki819@gmail.com

In [19]:
# The far left has indexes, range of numbers i.e. integer identifiers
# This could be a unique value, but pandas doesn't enforce it to be unique
mydf['email']

0       anishramish56@gmail.com
1     mainaliramish89@gmail.com
2    shresthasamish28@gmail.com
3      bamishkarki819@gmail.com
Name: email, dtype: object

In [20]:
mydf.set_index('email') # the original df is not modified
mydf.set_index('email', inplace=True) # the original df is modified
mydf

                             first      last
email
anishramish56@gmail.com      Anish    Khadka
mainaliramish89@gmail.com   Ramish   Mainali
shresthasamish28@gmail.com  Samish  Shrestha
bamishkarki819@gmail.com    Bamish     Karki

In [21]:
mydf.index # The indexes of the dataframe

Index(['anishramish56@gmail.com', 'mainaliramish89@gmail.com',
       'shresthasamish28@gmail.com', 'bamishkarki819@gmail.com'],
      dtype='object', name='email')

In [22]:
mydf.loc['shresthasamish28@gmail.com']

first      Samish
last     Shrestha
Name: shresthasamish28@gmail.com, dtype: object

In [ ]:
mydf.iloc[0] # integer location works but previous df.loc[0] won't work

first     Anish
last     Khadka
Name: anishramish56@gmail.com, dtype: object

In [24]:
# to reset the index
mydf.reset_index(inplace=True)
mydf

                        email   first      last
0     anishramish56@gmail.com   Anish    Khadka
1   mainaliramish89@gmail.com  Ramish   Mainali
2  shresthasamish28@gmail.com  Samish  Shrestha
3    bamishkarki819@gmail.com  Bamish     Karki

In [43]:
# Look at the real data file
df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('Data/stack-overflow-developer-survey-2024/survey_results_schema.csv', index_col='qname')

In [29]:
df.head(2)

,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [44]:
schema_df.head(2)

,qid,question,force_resp,type,selector
qname,,,,,
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Age,QID127,What is your age?*,True,MC,SAVR

In [45]:
schema_df.loc['TechDoc', 'question']

'What is the source of the technical documentation you use most often to learn to code?  Select all that apply.'

In [51]:
schema_df.loc['MainBranch', 'question']

'Which of the following options best describes you today? For the purpose of this survey, a developer is "someone who writes code".*'

In [54]:
schema_df.sort_index(ascending=True, inplace=True) # self explanatory
schema_df.head(10)

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIBen,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIChallenges,QID346,What are the challenges to your company/whole ...,False,MC,MAVR
AIComplex,QID343,How well do the AI tools you use in your devel...,False,MC,SAVR
AIEthics,QID339,Which AI ethical responsibilities are most imp...,False,MC,MAVR
AINext,QID320,Thinking about how your job and process change...,False,Matrix,Likert
AISearchDev,QID327,Which <b>AI-powered search and developer tools...,False,Matrix,Likert
AISelect,QID314,Do you currently use AI tools in your developm...,True,MC,SAVR
AISent,QID315,How favorable is your stance on using AI tools...,False,MC,SAVR
AIThreat,QID338,Do you believe AI is a threat to your current ...,False,MC,SAVR